* {
  font-family: Helvetica, sans-serif;
}

nav {
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

nav li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}

a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #888;
}

main {
  width: 960px;
  margin: 30px auto;
}

main ul {
  padding-left: 0px;
}

main li {
  list-style: none;
  float: left;
  margin-top: 30px;
}

main li:nth-child(2n) {
  margin: 30px 30px 30px 30px;
}